* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ba0f55;
}

.l-heading  {
    font-size: 30px;
    color:  #ba0f55;
}

.m-heading {
    color: #fff;
}

.fab {
    color: #fff;
    padding: 10px;
}

.fab:hover {
    background: #7b4434;
    border-radius: 10px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#showcase span {
    margin-left: 1em;
    color: #aaa;
    font-size: 85%;
}

/* Navbar */
#navbar {
    background: #410c43;
    color: aliceblue;
    overflow: auto;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    display: block;
    padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #490942;
    color: #f7c08a;
}

/* Showcase */
#showcase p {
    color: #f7c08a;
    font-size: 20px;
}

#showcase {
    background: url('./img/Home.png') no-repeat center center/cover;
    height: 100%;
}

#showcase .img-container img {
    width: 500px;
}

#showcase .showcase-content {
    color: aliceblue;
    padding-top: 170px;
}

#showcase .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* img  */
#showcase .img {
    margin: 10px;
}

/* animation */
#showcase .img img:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

/* Image 01 */
#img-grid {
    background: url('./img/back02.jpg') no-repeat center center/cover;
    height: 100%;
}

#img-grid .grid-container img {
    width: 400px;
}

#img-grid .grid-container {
    padding-top: 100px;
}


#img-grid .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#img-grid img {
    padding: 10px;
}

/* people */
#people .container {
    display: flex;
    flex-direction: column;
}

#people {
    background: url('./img/social01.jpg') no-repeat center center/cover;
    height: 100%;
}

#people .img-background {
    padding: 10px;
}

#people img {
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

#people .profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(192, 21, 20, 0.4);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

/* Footer */
#footer {
    background: #333;
}

#footer img {
    width: 100px;
    border-radius: 50%;
    padding: 16px;
}

#footer ul {
    list-style: none;
}

#footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer ul {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

@media(max-width: 600px) 
{
    #showcase .showcase-content {
        color: aliceblue;
        padding-top: 50px;
    }

    #showcase .img-container img {
        width: 300px;
    }

    #people .profile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #img-grid .grid-container img {
        width: 350px;
        justify-content: center;
    }

}

@media(max-width: 768px) 
{

    #showcase .showcase-content {
        color: aliceblue;
        padding-top: 50px;
    }

    #img-grid .grid-container img {
        width: 330px;
        justify-content: center;
        
    }

}

@media(max-width: 420px) {
    #img-grid .grid-container img {
        width: 370px;
        justify-content: center;
        
    }
}

@media(max-width: 378px) {
    #img-grid .grid-container img {
        width: 340px;
        justify-content: center;
        
    }
}

@media(max-width: 365px) {
    #img-grid .grid-container img {
        width: 320px;
        justify-content: center;
        
    }

    #showcase .img-container img {
        width: 250px;
    }
}